CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_xiaomi_ax1800=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_xiaomi_ax1800="ipq-wifi-xiaomi_ax1800"
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y
#CONFIG_ATH11K_MEM_PROFILE_1G=y
CONFIG_ATH11K_MEM_PROFILE_512M=y
# CURL COMPILE
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_CRYPTO_AUTH=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_TFTP=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_PACKAGE_libcurl4=y
CONFIG_PACKAGE_curl=y
# OPENSSL
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_OPENSSL_OVERRIDE_TARGET=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_DEVCRYPTO=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CIPHER_AES_GCM=y
CONFIG_OPENSSL_WITH_POLY1305=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_OPENSSL_WITH_EC=y
CONFIG_OPENSSL_WITH_EC2M=y
CONFIG_OPENSSL_WITH_PCLMUL=y
# CONFIG_OPENSSL_WITH_DTLS=y
CONFIG_PACKAGE_libopenssl3=y
# CONFIG_PACKAGE_libopenssl-legacy=y
CONFIG_PACKAGE_openssl-util=y
# ZRAM
CONFIG_ZRAM_DEF_COMP_LZ4=y
CONFIG_KERNEL_ZSMALLOC=y
CONFIG_KERNEL_ZRAM=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_PACKAGE_zram-swap=y
# QCA NSS
CONFIG_NSS_DRV_WIFI_ENABLE=y
CONFIG_NSS_DRV_WIFI_MESH_ENABLE=y
CONFIG_NSS_DRV_BRIDGE_ENABLE=y
CONFIG_NSS_DRV_CRYPTO_ENABLE=y
CONFIG_NSS_DRV_PPPOE_ENABLE=y
CONFIG_NSS_DRV_MATCH_ENABLE=y
# CONFIG_NSS_DRV_TLS_ENABLE=y
# CONFIG_NSS_DRV_DTLS_ENABLE=y
CONFIG_NSS_DRV_IPV4_REASM_ENABLE=y
CONFIG_NSS_DRV_IPV6_ENABLE=y
CONFIG_NSS_DRV_IPV6_REASM_ENABLE=y
CONFIG_NSS_DRV_LAG_ENABLE=y
CONFIG_NSS_DRV_EDMA_ENABLE=y
CONFIG_NSS_DRV_PPE_ENABLE=y
CONFIG_NSS_DRV_QRFS_ENABLE=y
CONFIG_NSS_DRV_SHAPER_ENABLE=y
CONFIG_NSS_DRV_VLAN_ENABLE=y
CONFIG_NSS_DRV_TSTAMP_ENABLE=y
# CONFIG_NSS_DRV_IPSEC_ENABLE=y
# CONFIG_PACKAGE_kmod-qca-ssdk=y
# CONFIG_PACKAGE_kmod-qca-nss-dp=y
# CONFIG_PACKAGE_kmod-qca-nss-drv=y
# CONFIG_PACKAGE_kmod-qca-nss-gmac=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-crypto=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tlsmgr=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-dtlsmgr=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=y
# CONFIG_PACKAGE_kmod-qca-nss-ecm-premium=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-wifi-meshmgr=y
# SQM
# CONFIG_PACKAGE_iproute2=y #ip tc
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_tc-tiny=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sched-cake=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_sqm-scripts=y
# FIREWALL
CONFIG_PACKAGE_firewall4=y
# WIRELESS
#CONFIG_PACKAGE_wpad-basic-mbedtls=y
CONFIG_PACKAGE_wpad-basic-openssl=y
# COMPRESSION
CONFIG_PACKAGE_gzip=y
CONFIG_PACKAGE_unzip=y
# OTHERS
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_vim-full=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_luci-nginx=y
CONFIG_PACKAGE_nginx-ssl=y
CONFIG_PACKAGE_bash=y
