CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_xiaomi_ax1800=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_xiaomi_ax1800="ipq-wifi-xiaomi_ax1800"
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_ATH11K_MEM_PROFILE_512M=y
# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y
# CURL
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_CRYPTO_AUTH=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_TFTP=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_PACKAGE_libcurl4=y
CONFIG_PACKAGE_curl=y
# OPENSSL
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_OPENSSL_OVERRIDE_TARGET=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_DEVCRYPTO=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CIPHER_AES_GCM=y
CONFIG_OPENSSL_WITH_POLY1305=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_OPENSSL_WITH_EC=y
CONFIG_OPENSSL_WITH_EC2M=y
CONFIG_OPENSSL_WITH_PCLMUL=y
# CONFIG_OPENSSL_WITH_DTLS=y
CONFIG_PACKAGE_libopenssl3=y
# CONFIG_PACKAGE_libopenssl-legacy=y
CONFIG_PACKAGE_openssl-util=y
# ZRAM
CONFIG_ZRAM_DEF_COMP_LZ4=y
CONFIG_KERNEL_ZSMALLOC=y
CONFIG_KERNEL_ZRAM=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_PACKAGE_zram-swap=y
# QCA NSS
CONFIG_NSS_DRV_BRIDGE_ENABLE=y
CONFIG_NSS_DRV_PPPOE_ENABLE=y
# CONFIG_NSS_DRV_MATCH_ENABLE=y
# CONFIG_NSS_DRV_IPV4_REASM_ENABLE=y
# CONFIG_NSS_DRV_IPV6_ENABLE=y
# CONFIG_NSS_DRV_IPV6_REASM_ENABLE=y
# CONFIG_NSS_DRV_LAG_ENABLE=y
# CONFIG_NSS_DRV_SHAPER_ENABLE=y
# CONFIG_NSS_DRV_VLAN_ENABLE=y
# SQM
CONFIG_PACKAGE_ip-full=y
# CONFIG_PACKAGE_tc-tiny=y
# CONFIG_PACKAGE_kmod-sched-core=y
# CONFIG_PACKAGE_kmod-sched-cake=y
# CONFIG_PACKAGE_luci-app-sqm=y
# CONFIG_PACKAGE_sqm-scripts=y
# FIREWALL
CONFIG_PACKAGE_firewall4=y
# WIRELESS
# CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_wpad-basic-openssl=y
# CONFIG_PACKAGE_wpad-basic-mbedtls=y
# COMPRESSION
CONFIG_PACKAGE_gzip=y
CONFIG_PACKAGE_unzip=y
# WIREGUARD
# CONFIG_PACKAGE_luci-proto-wireguard=y
# UTILITY
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_vim-full=y
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_openssh-sftp-server=y
# WEB
CONFIG_PACKAGE_luci-nginx=y
CONFIG_PACKAGE_nginx-ssl=y
# OPENWRT-CLASH
CONFIG_PACKAGE_ca-bundle=y
# CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_yq=y
# CONFIG_PACKAGE_firewall4=y
# CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-tun=y
# OTHERS
